@model Data.Models.BrandDescription

@{
    ViewData["Title"] = "EditBrandDescription";
    Layout = "~/Areas/Identity/Pages/Account/_IdentityLayout.cshtml";
}

<h1>EditBrandDescription</h1>

<h4>BrandDescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBrandDescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Language" class="control-label">Wybierz język</label>
                <select asp-for="Language"
                        asp-items="Html.GetEnumSelectList<Data.Enums.Language>()"
                        id="language"></select>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text"
                       type="text"
                       placeholder="Dodaj opis"
                       class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="BrandId" 
                       type="hidden"
                       value="@Model.BrandId"/>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <input type="submit" value="EditBrandDescription" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

