@{
    ViewData["Title"] = "Home Page";
}
<!--/ Carousel Star /-->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("BrandsCarousel")
    </div>
</div>
<!--/ Carousel end /-->