<!--/ footer Star /-->
<section class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">materie<span class="color-b">*</span></h3>
                    </div>
                    <div class="w-body-a">
                        <p class="w-text-a color-text-a">
                            Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
                            sed aute irure.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">kontakt</h3>
                    </div>
                    <div class="w-body-a">
                        <div class="w-body-a">
                            <ul class="list-unstyled">
                                <li class="color-a">
                                    <span class="color-text-a">Email</span> contact@example.com
                                </li>
                                <li class="color-a">
                                    <span class="color-text-a">Telefon</span> <span class="color-b">+54 356 945234</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">adres</h3>
                    </div>
                    <div class="w-body-a">
                        <p>Wrocław<br />
                        ul. Kosmiczna 66</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a asp-action="Index" asp-controller="Home">Główna</a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-action="About" asp-controller="Home">O nas</a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-action="Contact" asp-controller="Home">Kontakt</a>
                        </li>
                    </ul>
                </nav>
                @*<div class="socials-a">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>*@
                <div class="copyright-footer">
                    <p class="copyright color-text-a">
                        @DateTime.Now.Year &copy; <span class="color-a">Materie</span>
                        <br />Wszelkie prawa zastrzeżone.
                    </p>
                </div>
                <div class="credits">
                    <small>Designed by <a href="https://www.linkedin.com/company/ablab/" target="_blank">ABLAB</a> &amp; <a target="_blank" href="https://bootstrapmade.com/">BootstrapMade</a></small>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ Footer End /-->