<!--/ footer Star /-->
<section class="section-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">materie<span class="color-b">*</span></h3>
                    </div>
                    <div class="w-body-a">
                        <p class="w-text-a color-text-a">
                            it's a place that gathers good brands and great products; products that are not only functional and well-designed, but above all care for the natural environment and its resources.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 section-md-t3">
                <div class="widget-a text-right">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">contact</h3>
                    </div>
                    <div class="w-body-a">
                        <div class="w-body-a">
                            <ul class="list-unstyled">
                                <li class="color-a">
                                    <span class="color-text-a">Email</span> hello@materie.pl
                                </li>
                                <li class="color-a">
                                    <span class="color-text-a">Phone</span> <span class="color-b">+48 662 670 775</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-12 col-md-4 section-md-t3">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">adres</h3>
                    </div>
                    <div class="w-body-a">
                        <p>51-679 Wrocław<br />
                        ul. Partyzantów 111/2</p>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#footer">About</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#footer">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright-footer">
                    <p class="copyright color-text-a">
                        @DateTime.Now.Year &copy; <span class="color-a">Materie</span>
                        <br />All rights reserved.
                    </p>
                </div>
                <div class="credits">
                    <small>Designed by <a href="https://www.linkedin.com/company/ablab/" target="_blank">ABLAB</a> &amp; <a target="_blank" href="https://bootstrapmade.com/">BootstrapMade</a></small>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ Footer End /-->