@using Data.Enums
@using Microsoft.AspNetCore.Http
@model List<Data.Models.Product>

@{
    var language = Language.English;

}
<link href="~/css/masonry.css" rel="stylesheet" />
<section class="brand-products grid">
    <div class="container">
        <div class="row">
            <div class="masonry">
                @foreach (var product in Model)
                {
                    <div class="card-box-d brick">
                        <div class="card-img-d">
                            <img src="data:@product.Image.FileMimeType;base64,@System.Convert.ToBase64String(product.Image.FileData)" alt="@product.Image.Description" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <a asp-action="Details"
                                       asp-controller="Product"
                                       asp-route-name="@product.Name.Replace(" ", "")">
                                        <h3 class="title-d">
                                            @product.Name
                                        </h3>
                                    </a>
                                </div>
                            </div>
                            @*<div class="card-body-d">
                                <p class="content-d color-text-b">
                                    @Html.Raw(product.Descriptions
                                        .FirstOrDefault(d => d.Language == language)?
                                        .Text.Substring(0, 100))
                                </p>
                            </div>*@
                        </div>
                    </div>
                }
                @*Foreach end*@
            </div>
        </div>
    </div>
</section>