@model List<Data.Models.Attachment>

    <section class="brand-photos grid">
        <div class="container">
            <div class="row">
                @foreach (var photo in Model)
                {
                <div class="col-md-4 section-t3">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="data:@photo.FileMimeType;base64,@System.Convert.ToBase64String(photo.FileData)" alt="@photo.Description" class="img-d img-fluid">
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="card-overlay card-overlay-hover">
                                <div class="card-footer-d">
                                    <div class="socials-footer d-flex justify-content-center">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div class="js-delete-photo" data-id="@photo.Id" data-url='@Url.Action("DeletePhoto", "Admin")'>
                                                    <i class="fa fa-trash" aria-hidden="true"></i> usuń
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                    <i class="fa fa-square" aria-hidden="true"></i> cover
                                            </li>
                                            <li class="list-inline-item">
                                                    <i class="fa fa-circle" aria-hidden="true"></i> main
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                } @*Foreach end*@
            </div>
        </div>
    </section>